apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  namespace: drupal-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
        - name: database
          image: cesar878/mariadb-unir:10.3.35
          ports:
            - containerPort: 3306
          # TODO: aquí podrías montar un ConfigMap o PVC para el backup/datos