apiVersion: apps/v1
kind: Deployment
metadata:
  name: drupal
  namespace: drupal-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: drupal
  template:
    metadata:
      labels:
        app: drupal
    spec:
      containers:
        - name: drupal
          image: cesar878/drupal-unir:10.4.7
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
