apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-server
  namespace: drupal-lab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-server
  template:
    metadata:
      labels:
        app: web-server
    spec:
      containers:
        - name: web-server
          image: cesar878/nginx-drupal:latest
          ports:
            - containerPort: 80